@charset "utf-8";
/* CSS Document */
body{background:#fff}
#toper{background:none}
#header{background:url(../../images/bg-main-head.png) center top;}

#container{width:100%;min-width:1000px;height:501px;border:none;position:relative;padding-bottom:0}

.index-kv-b-list{position:absolute;top:0;left:0;width:100%;height:498px;background:#000}
.index-kv-b-list li{position:absolute;top:0;left:0;width:100%;height:601px;display:none}
.index-kv-b-list li div{position:relative;width:1000px;margin:0 auto}
.index-kv-b-list li a{position:absolute;display:block;width:120px;height:35px;top:240px;left:12%;}
.index-kv-b-list li.pic1{background:url(../../images/img-index-kv-b-1.jpg) no-repeat top center}
.index-kv-b-list li.pic2{background:url(../../images/img-index-kv-b-2.jpg) no-repeat top center}
.index-kv-b-list li.pic3{background:url(../../images/img-index-kv-b-3.jpg) no-repeat top center}
.index-kv-b-list li.pic4{background:url(../../images/img-index-kv-b-4.jpg) no-repeat top center}
.index-kv-s{position:absolute;bottom:0;left:0;width:100%;_width:103%;height:167px;background:url(../../images/bg-index-kv-s.png) no-repeat top center;zoom:1}
.index-kv-s .section-inner{width:980px;margin:0 auto;padding:35px 0 0 0;position:relative;zoom:1;height:125px}
.index-kv-s .index-kv-s-wrap{overflow:hidden;position:relative;width:980px;height:125px}
.index-kv-s li{float:left;width:328px}
.index-kv-s li a{display:block;position:relative;color:#fff;}
.index-kv-s li a img{vertical-align:top;}
.index-kv-s li a strong{display:block;position:absolute;bottom:0;bottom:-1px;left:0;width:319px;height:25px;line-height:25px;text-align:right;background:url(../../images/bg-index-kv-s-item-banner.png) no-repeat 0 0;font-weight:normal}
.index-kv-s li a strong span{padding:0 30px 0 0}
.index-kv-pager{position:absolute;top:10px;right:25px;zoom:1;}
.index-kv-pager ul{_width:78px;zoom:1;}
.index-kv-pager li{float:left;width:26px;}
.index-kv-pager li a{display:block;height:21px;background:url(../../images/bg-index-kv-s-item.png) no-repeat  0 0;}
.index-kv-pager li a:hover,.index-kv-pager li.current a{background-position:-26px 0}
.index-kv-s-list {width:9999px;/*position:absolute;top:0;left:0;*/}
.index-kv-s .ctrl{display:block;position:absolute;width:15px;height:25px;background:url(../../images/bg-index-kv-s-item.png) no-repeat  0 0;top:90px}
.index-kv-s .prev{background-position:0 -30px;left:-30px}
.index-kv-s .next{background-position:-28px -30px;right:-20px}

/****/
/*.jcrop-holder div .jcrop-tracker{ }*/
.index-kv-b-list a.btnBg{
	background:url(../../images/kv-view-more.png) no-repeat center center;
_background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/kv-view-more.png');
}
.index-kv-b-list a.btnBg:hover{
	background:url(../../images/kv-view-more-hover.png) no-repeat center center;
	_background-image: none; filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../images/kv-view-more-hover.png');

}


/**add new**/
.lightingHomeContainer {
	position: absolute;
	z-index: 1;
	width: 964px;
	left: -3000px;
	margin-left: -486px;
}
