<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 给持久层对象配置个别名，能方便调用 -->
	<typeAliases>
		<typeAlias type="com.ezhao.lamps.entity.User" alias="User" />
		<typeAlias type="com.ezhao.lamps.entity.Product" alias="product" />
		<typeAlias type="com.ezhao.lamps.entity.Category" alias="category" />
		<typeAlias type="com.ezhao.lamps.entity.Page" alias="page" />
		<typeAlias type="com.ezhao.lamps.entity.CompanyInfo" alias="companyInfo" />
		<typeAlias type="com.ezhao.lamps.entity.Certificate" alias="certificate" />
		<typeAlias type="com.ezhao.lamps.entity.SuccessfulCaseCategory" alias="successfulCaseCategory" />
		<typeAlias type="com.ezhao.lamps.entity.SuccessfulCaseDetail" alias="successfulCaseDetail" />
		<typeAlias type="com.ezhao.lamps.entity.AdvertiseType" alias="advertiseType" />
		<typeAlias type="com.ezhao.lamps.entity.Advertise" alias="advertise" />
		<typeAlias type="java.util.HashMap" alias="HashMap" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/resources/mybatis/UserDao.xml" />
		<mapper resource="/resources/mybatis/ProductDao.xml" />
		<mapper resource="/resources/mybatis/CategoryDao.xml" />
		<mapper resource="/resources/mybatis/CompanyInfoDao.xml" />
		<mapper resource="/resources/mybatis/CertificateDao.xml" />
		<mapper resource="/resources/mybatis/SuccessfulCaseCategoryDao.xml" />
		<mapper resource="/resources/mybatis/SuccessfulCaseDetailDao.xml" />
		<mapper resource="/resources/mybatis/AdvertiseTypeDao.xml" />
		<mapper resource="/resources/mybatis/AdvertiseDao.xml" />
	</mappers>
</configuration>